@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#header1-10 P {
  text-align: left;
}
#header1-10 .btn {
  font-family: 'Oxygen', sans-serif;
}
#header1-10 H1 {
  color: #3bcec8;
}
#msg-box5-6 .mbr-header__text {
  color: #000000;
}
#msg-box5-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-6 .mbr-article {
  color: #000000;
}
#msg-box4-6 .mbr-header__text {
  color: #000000;
}
#msg-box4-6 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-6 .mbr-article {
  color: #000000;
}
#contacts3-7 P {
  color: #0c101a;
  font-size: 17px;
}
#contacts3-7 DIV {
  font-size: 17px;
  color: #000000;
}
#content5-16 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-size: 46px;
}
#content5-16 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-16 .mbr-article {
  color: #fff;
}
#content5-16 .mbr-article P {
  text-align: center;
  color: #252525;
}
#content4-12 P {
  color: #000000;
}
#content4-12 .mbr-section-title .mbr-header__text {
  color: #000000;
  font-size: 25px;
}
#content4-12 .mbr-section__col .mbr-header__text {
  color: #000000;
}
#features1-14 P {
  color: #000000;
}
#features1-14 .mbr-section-title .mbr-header__text {
  color: #000000;
}
#features1-14 .mbr-section__col .mbr-header__text {
  color: #000000;
}
#features1-16 P {
  color: #000000;
}
#header3-17 H3 {
  text-align: center;
}
#header3-17 P {
  text-align: center;
}
#content1-13 P {
  color: #000000;
}
#content1-13 UL {
  color: #000000;
}
#contacts3-7 P {
  color: #0c101a;
  font-size: 17px;
}
#contacts3-7 DIV {
  font-size: 17px;
  color: #000000;
}
#header1-33 H1 {
  font-size: 48px;
  color: #000000;
}
#header1-33 P {
  color: #000000;
}
#header3-18 H3 {
  text-align: center;
}
#header3-26 H3 {
  text-align: center;
}
#header3-26 P {
  text-align: center;
}
#contacts3-7 P {
  color: #0c101a;
  font-size: 17px;
}
#contacts3-7 DIV {
  font-size: 17px;
  color: #000000;
}
